@use './styles/colors.sass' as colors

.App
    &__body
        padding: 8px

    &__menu
        display: flex
        padding: 0 8px

    &__menu-item
        padding: 8px
        border-radius: 0 0 8px 8px

    & .active
        color: colors.$white
        background-color: colors.$primary
